.social-networks {
    &__items {
        color: rgb(32, 32, 31, 0.95);
        &:hover {
            opacity: 40%;
            transition: .3s;
        }
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

@media screen and (max-width: 768px) {
    .social-networks {
        &__items {
            font-size: 18px;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .social-networks {
        &__items {
            font-size: 13px;
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}